<!DOCTYPE HTML> 
<html> 
    <head> 
        <title>Dashboard</title> 
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css"> 
    </head> 
<body> 
    <header> 
        Aplikasi Manajemen Pegawai 
    </header> 
        <aside> 
            <ul class="menu"> 
                <li><a href="dashboard.html" class="aktif">Dashboard</a></li> 
                <li><a href="tabel.html" class="aktif">Data Pegawai</a></li> 
                <li><a href="tabel.html" class="aktif">Data Jabatan</a></li>
                   <li><a href="login.html" class="aktif">Keluar</a></li> 
                </ul> 
            </aside> 
            <section class="main mt-3">
                <div class="alert alert-primary text-center">
                        <h3 class="card-title">Selamat Datang di Aplikasi Manajemen Pegawai Kafe Biru</h3>
                        <p class="card-text">Anda login sebagai <b> Administrator</b>
                        </p>
                    </div>
            </section> 
  
        <footer> 
            Copyright &copy; 2026 
        </footer> 
        <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    </body> 
</html>